@-webkit-keyframes shake-leftright {
  0% {
    -webkit-transform:rotate(2deg);
    transform:rotate(2deg);
    -webkit-transform-origin:50% 50%;
    transform-origin:50% 50%
  }
  20% {
    -webkit-transform:rotate(10deg);
  transform:rotate(10deg);
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%
  }
  40% {
    -webkit-transform:rotate(0deg);
  transform:rotate(0deg);
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%
  }
  60% {
    -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%
  }
  80% {
    -webkit-transform:rotate(-10deg);
  transform:rotate(-10deg);
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%
  }
  100% {
    -webkit-transform:rotate(0deg);
  transform:rotate(0deg);
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%
  }
}
@keyframes shake-leftright {
   0% {
     -webkit-transform:rotate(2deg);
     transform:rotate(2deg);
     -webkit-transform-origin:50% 50%;
     transform-origin:50% 50%
   }
  20% {
    -webkit-transform:rotate(10deg);
  transform:rotate(10deg);
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%
  }
  40% {
    -webkit-transform:rotate(0deg);
  transform:rotate(0deg);
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%
  }
  60% {
    -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%
  }
  80% {
    -webkit-transform:rotate(-10deg);
  transform:rotate(-10deg);
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%
  }
  100% {
    -webkit-transform:rotate(0deg);
  transform:rotate(0deg);
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%
  }
}
.shake-leftright {
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  -webkit-animation-name:shake-leftright;
  animation-name:shake-leftright;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out
}
