/* 星充APP common style */
.sc-container
  position relative
  width 100%
  height 100%
  background-color #f7f7f7

/* button */
.sc-btn-gp
  display flex
  width 100%
  justify-content center
  align-items center
  padding rpx(80) 0
.sc-sub-btn
  width rpx(670)
  height rpx(100)
  background linear-gradient(to right, #ffa03b, #f97624);
  border-radius rpx(100)
  color #fff
  font-size rpx(36)
  margin 0 auto
  box-shadow 0 rpx(4) rpx(8) rgba(0, 0, 0, 0.2)
