/*@font-face
  font-family 'QuartzMdm';
  src: url('/src/starcharge/assets/fonts/Quartz-Mdm.eot');
  src: url("/src/starcharge/assets/fonts/Quartz-Mdm.eot?#") format('embedded-opentype'), url('/src/starcharge/assets/fonts/Quartz-Mdm.woff') format('woff'), url('/src/starcharge/assets/fonts/Quartz-Mdm.ttf') format('truetype'), url('/src/starcharge/assets/fonts/Quartz-Mdm.svg#QuartzMdm') format('svg');
  font-weight normal
  font-style normal*/

/*@font-face
  font-family 'QuartzMdm';
  src: url('../fonts/Quartz-Mdm.eot');
  src: url("../fonts/Quartz-Mdm.eot?#") format('embedded-opentype'), url('../fonts/Quartz-Mdm.woff') format('woff'), url('../fonts/Quartz-Mdm.ttf') format('truetype'), url('../fonts/Quartz-Mdm.svg#QuartzMdm') format('svg');
  font-weight normal
  font-style normal*/
